footer {
  font-family: 'DynaPuff', cursive;
  font-weight: 400;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

footer img {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.footer {
  &__list {
    padding: 6px;

  }
}

.imput {
  padding: 10px;
  margin: 10px;
}

footer ul h4 {
  padding: 8px;
}

footer ul a {
  margin: 10px;
}

footer ul img {
  margin: 8px;
  padding: 8px;
}

footer ul li {
  display: block;
}