header {
  background-color: black;
  color: white;
  text-align: center;
}

header nav a {
  font-family: 'DynaPuff', cursive;
  font-weight: 700;
  color: white;
  font-size: 30px;
  text-decoration: underline;
  margin: 9px;
  padding: 10px;
  height: 300px;
}

header nav h1 {
  font-size: 40px;
}

header nav ul li {
  display: inline-block;

}

.nav-index {
  color: white;
  display: block;

}

.color-mujer {
  color: rgb(185, 128, 137);
}

.color-niños {
  color: rgb(75, 214, 214);
  ;
}

.color-hombre {
  color: rgba(109, 109, 209, 0.658);
  ;
}

.color-contacto {
  color: white;
}

@media (max-width: 450px) {
  .nav-index {
    width: 90vw;
  }
}