header {
  background-color: rgb(247, 245, 245);
  color: white;
  text-align: center;
}

header nav a {
  font-family: 'DynaPuff', cursive;
  font-weight: 700;
  color: white;
  font-size: 30px;
  text-decoration: underline;
  margin: 9px;
  padding: 10px;
  height: 300px;
}

header nav h1 {
  font-size: 40px;
}

header nav ul li {
  display: inline-block;

}

.nav-index {
  color: white;
  display: block;

}

.color-nike {
  color: rgb(255, 255, 255);
}

.color-adidas {
  color: rgb(255, 255, 255);
  ;
}

.color-puma{
  color: rgb(243, 241, 241);
  ;
}

.color-contacto {
  color: white;
}


@media (max-width: 450px) {
  .nav-index {
    width: 90vw;
  }
}