main {
    background-color: rgb(131, 96, 96);
    color: #000000;
    text-align: center;
    font-size: 20px;
    padding: 5px;

}

h1 {
    font-family: 'DynaPuff', cursive;
    font-weight: 700;
    color: #030303;
    margin: 10%;
    padding: 10px;
    height: 90px;
}

main h1 {
    text-decoration: underline;
}

// main div img {
//     height: 100px;
//     width: 100px;
//     display: inline-flex;

// }
.dominiomarcas {
    width: 95vw;
}

main p {
    font-family: 'DynaPuff', cursive;
    margin-bottom: 1rem;

}

.marcas {
    display: inline-flex;
    margin: 5px;
    height: 100px;
    width: 100px;
}

// nike
.fondo-nike {
    background-color: rgba(160, 149, 149, 0.288);
}

.encabezadonike {
    width: 90vw;
    margin: 0%;
}

.zona1nike {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10%;
}

.zona2nike {
    display: inline-block;
    margin: 20px;
    border-radius: 10%;
}

.zona3nike {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 5%;
}

.parrafonike {

    width: 600px;
    text-align: center;
    margin: auto;
}

.adidasp {
    margin-bottom: 20px;
}

.h2nike {
    margin: 20px;
}

// adidas 

.encabezadoadidas {
    width: 95vw;
    height: 350px;
    margin: auto;
}

.zona1adidas {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10%;
}

.h2adidas {
    width: 70vw;
    margin: auto;
    text-decoration: underline;
}

.parrafo1adidas {
    margin: auto;
    width: 70vw;
}

.zona2adidas {
    display: inline-block;
    width: 350px;
    height: 500px;
    margin: 10px;
}

.zona3adidas {
    display: inline-block;
    height: 380px;
    width: 380px;
    margin: 20px;
}

.zona4adidas {
    width: 90vw;
    height: 500px;
    margin: auto;
}





.tamaño {
    width: 410px;
    height: 315px;
    margin: 10px;
}



.mainco {
    background-color: rgba(117, 117, 117, 0.664);

    &__input {
        border-radius: 20px;
    }
}

.input {
    margin: 15px;
}

@media (max-width: 600px) {
    .imagenes-main {
        height: 220px;
        width: 310px;
        margin: 10px;
        padding: 0;
    }
}

@media (max-width: 600px) {
    .marcas {
        display: inline-flex;
        height: 45px;
        width: 45px;
        margin: 0;
        padding: 0;
    }

    .parrafonike {
        width: 400px;
        padding: 20px;
    }
}


.zona1 {
    display: inline-flex;
    height: 600px;
    width: 400px;
    margin: 1rem;
}

.zona2 {
    display: inline-block;
    height: 300px;
    width: 600px;
    margin: 1rem;
    padding: 2px;
}

.zona3 {
    display: inline-block;
    height: 280px;
    width: 280px;
    margin: 10px;
    padding: 10px;
}

@media (max-width: 500px) {
    .zona1 {
        height: 200px;
        width: 300px;
    }
}

@media (max-width: 600px) {
    .tamaño {
        width: 90vw;
    }
}

@media (max-width:600px) {
    .zona2 {
        width: 300px;
        height: 200px;
        margin: 0%;
    }

    .zona2nike {
        width: 300px;
        height: 300px;
    }
}